<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <clear />
    <add name="MainConnectionString" connectionString="Server=tcp:j4a0c2d6tw.database.windows.net,1433;Database=Codemash;User ID=Codemash;Password=xjoesm0ex01!;Trusted_Connection=False;Encrypt=True;Connection Timeout=30;MultipleActiveResultSets=True;"
         providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>