<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <clear />
    <add name="MainConnectionString" connectionString="Server=tcp:xmn8979nfx.database.windows.net,1433;Database=Codemash;User ID=Codemash@xmn8979nfx;Password=xjoesm0ex01!;Trusted_Connection=False;Encrypt=True;Connection Timeout=30;"
         providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>