<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">
  <Identity Name="261c19d3-bd35-4344-89c9-a656b71d1b8a" Publisher="CN=jason" Version="1.0.0.0" />
  <Properties>
    <DisplayName>Codemash.Client</DisplayName>
    <PublisherDisplayName>jason</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.2.1</OSMinVersion>
    <OSMaxVersionTested>6.2.1</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="Codemash.Client.App">
      <VisualElements DisplayName="Codemash.Client" Logo="Assets\Logo.png" SmallLogo="Assets\SmallLogo.png" Description="Codemash.Client" ForegroundText="light" BackgroundColor="#FB8102">
        <DefaultTile ShowName="allLogos" />
        <SplashScreen Image="Assets\SplashScreen.png" />
      </VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>